NET "SFP_RX+" LOC = "B8";
NET "SFP_CLK_P" LOC = "F6";
NET "SFP_CLK_N" LOC = "E6";
NET "SFP_RX-" LOC = "A8";
NET "SFP_TX+" LOC = "B4";
NET "SFP_TX-" LOC = "A4";
NET "REGULARIO_SFP_TX_DISABLE" LOC = "F15";
NET "TRIGEXT_E" LOC = "F13";
NET "REGULARIO_SFP_SDA" LOC = "F14";
NET "CDR_SDA" LOC = "F16";
NET "STARTREADOUT2_E" LOC = "C15";
NET "DOUT1B_E" LOC = "E13";
NET "CHIPSATB_E" LOC = "E14";
NET "CDR_SCK" LOC = "E16";
NET "TRANSMITON1B_E" LOC = "D14";
NET "SR_CK_E" LOC = "D15";
NET "SR_RSTB_E" LOC = "B15";
NET "ENDREADOUT2_E" LOC = "B16";
NET "REGULARIO_SFP_SCL" LOC = "C13";
NET "DOUT2B_E" LOC = "B13";
NET "STARTREADOUT1_E" LOC = "A15";
NET "SR_IN_E" LOC = "A16";
NET "STARTACQ_E" LOC = "A13";
NET "TRANSMITON2B_E" LOC = "A14";
NET "TRIGEXT_D" LOC = "B17";
NET "TRANSMITON1B_D" LOC = "B18";
NET "ENDREADOUT1_E" LOC = "D17";
NET "SR_OUT_E" LOC = "C17";
NET "STARTACQ_D" LOC = "C18";
NET "RESET#" LOC = "C19";
NET "SR_IN_D" LOC = "E19";
NET "STARTREADOUT1_D" LOC = "D19";
NET "DOUT2B_D" LOC = "F18";
NET "CDR_LOL" LOC = "E18";
NET "SR_CK_D" LOC = "B20";
NET "STARTREADOUT2_D" LOC = "A20";
NET "DOUT1B_D" LOC = "A18";
NET "CHIPSATB_D" LOC = "A19";
NET "SR_OUT_D" LOC = "F19";
NET "ENDREADOUT1_D" LOC = "F20";
NET "SR_RSTB_D" LOC = "D20";
NET "TRANSMITON2B_D" LOC = "C20";
NET "PWR_ON_A" LOC = "C22";
NET "PWR_ON_ADC" LOC = "B22";
NET "PWR_ON_DAC" LOC = "B21";
NET "ENDREADOUT2_D" LOC = "A21";
NET "DOUT1B_C" LOC = "E22";
NET "TRIGEXT_C" LOC = "D22";
NET "STARTACQ_C" LOC = "E21";
NET "PWR_ON_D" LOC = "D21";
NET "STARTREADOUT2_C" LOC = "G21";
NET "CHIPSATB_C" LOC = "G22";
NET "TRANSMITON1B_C" LOC = "F21";
NET "CHIPSATB_A" LOC = "Y17";
NET "TRANSMITON2B_A" LOC = "Y16";
NET "SR_CK_A" LOC = "AA16";
NET "SR_OUT_A" LOC = "AB16";
NET "STARTREADOUT2_A" LOC = "AB17";
NET "OUT_TRIG1B" LOC = "AA13";
NET "ROWSELECT0" LOC = "AB13";
NET "ENDREADOUT1_A" LOC = "AA15";
NET "CALI_SW_A" LOC = "AB15";
NET "ROWSELECT1" LOC = "Y13";
NET "CALI_CS#" LOC = "AA14";
NET "CALI_SW_B" LOC = "W14";
NET "OUT_TRIG2B" LOC = "Y14";
NET "ADC_CLK" LOC = "AB11";
NET "COLUMNSELECT1" LOC = "AB12";
NET "ADC_DATA3" LOC = "AA9";
NET "ADC_DATA1" LOC = "AB10";
NET "ADC_DATA2" LOC = "AA10";
NET "ADC_DATA0" LOC = "AA11";
NET "TP0" LOC = "W10";
NET "COLUMNSELECT2" LOC = "Y11";
NET "ROWSELECT2" LOC = "Y12";
NET "COLUMNSELECT0" LOC = "W11";
NET "ENDREADOUT2_A" LOC = "V14";
NET "CALI_DIN" LOC = "U15";
NET "SR_IN_A" LOC = "V15";
NET "SR_RSTB_A" LOC = "T15";
NET "CALI_SCK" LOC = "W15";
NET "DOUT2B_A" LOC = "T16";
NET "STARTREADOUT1_A" LOC = "U16";
NET "DONE" LOC = "G11";
NET "TCK" LOC = "V12";
NET "VCCADC" LOC = "K10";
NET "CCLK" LOC = "L12";
NET "TDO" LOC = "U13";
NET "TDI" LOC = "R13";
NET "INIT_B" LOC = "U12";
NET "TMS" LOC = "T13";
NET "PROGRAM_B" LOC = "N12";
NET "SFP_TX_DISABLE" LOC = "F4";
NET "FD<10>" LOC = "B1";
NET "FD<12>" LOC = "A1";
NET "FD<9>" LOC = "C2";
NET "FD<11>" LOC = "B2";
NET "FIFOADR0" LOC = "E1";
NET "PKTEND" LOC = "D1";
NET "FIFOADR1" LOC = "E2";
NET "FD<8>" LOC = "D2";
NET "FLAGB" LOC = "G1";
NET "SLOE" LOC = "F1";
NET "SFP_SCL" LOC = "F3";
NET "SFP_SDA" LOC = "E3";
NET "FD<4>" LOC = "K1";
NET "FD<6>" LOC = "J1";
NET "FLAGA" LOC = "H2";
NET "FLAGC" LOC = "G2";
NET "FD<5>" LOC = "K2";
NET "FD<7>" LOC = "J2";
NET "SLWR" LOC = "J5";
NET "FD<15>" LOC = "H5";
NET "SLRD" LOC = "H3";
NET "FD<14>" LOC = "G3";
NET "CLKOUT" LOC = "H4";
NET "FD<13>" LOC = "G4";
NET "CLK_40M" LOC = "K4";
NET "SLCS" LOC = "J4";
NET "IFCLK" LOC = "K3";
NET "DTCC_DATA2OUT" LOC = "M1";
NET "DTCC_CONTROL2IN" LOC = "L1";
NET "FD<3>" LOC = "M3";
NET "DTCC_CONTROL1IN" LOC = "M2";
NET "FD<0>" LOC = "L5";
NET "FD<2>" LOC = "N4";
NET "PLUG1DATAOUT1" LOC = "R1";
NET "PLUG2_DATAIN1" LOC = "P1";
NET "PLUG2_DATAIN2" LOC = "P2";
NET "DTCC_DATA1OUT" LOC = "N2";
NET "FD<1>" LOC = "M5";
NET "REGULARIO_SFP_TX+" LOC = "H13";
NET "REGULARIO_SFP_TX-" LOC = "G13";
NET "RX_CDR_RXP" LOC = "G17";
NET "RX_CDR_RXN" LOC = "G18";
NET "RAZ_CHNP" LOC = "J22";
NET "RAZ_CHNN" LOC = "H22";
NET "VAL_EVTP" LOC = "H20";
NET "VAL_EVTN" LOC = "G20";
NET "CK_5P" LOC = "K21";
NET "CK_5N" LOC = "K22";
NET "RX_CDR_CLKP" LOC = "J19";
NET "RX_CDR_CLKN" LOC = "H19";
NET "SPARE_LVDS_P" LOC = "N22";
NET "SPARE_LVDS_N" LOC = "M22";
NET "CK_40P" LOC = "N20";
NET "CK_40N" LOC = "M20";
NET "TRANSMITON2B_C" LOC = "P20";
NET "D00" LOC = "P22";
NET "D01" LOC = "R22";
NET "D02" LOC = "P21";
NET "D03" LOC = "R21";
NET "PUDC_B" LOC = "U22";
NET "SR_CK_C" LOC = "T21";
NET "SR_OUT_C" LOC = "U21";
NET "STARTREADOUT1_C" LOC = "P19";
NET "SR_RSTB_C" LOC = "R19";
NET "FCS_B" LOC = "T19";
NET "ENDREADOUT2_C" LOC = "T20";
NET "ENDREADOUT1_C" LOC = "W21";
NET "SELECT" LOC = "W22";
NET "SR_IN_B" LOC = "AA20";
NET "TRANSMITON1B_B" LOC = "AA21";
NET "HOLD" LOC = "Y21";
NET "DOUT2B_B" LOC = "Y22";
NET "CHIPSATB_B" LOC = "AB21";
NET "STARTREADOUT2_B" LOC = "AB22";
NET "RST_COUNTERB" LOC = "U20";
NET "TRIGEXT_B" LOC = "V20";
NET "STARTREADOUT1_B" LOC = "W19";
NET "SR_CK_B" LOC = "W20";
NET "SR_OUT_B" LOC = "Y18";
NET "STARTACQ_A" LOC = "Y19";
NET "STARTACQ_B" LOC = "V18";
NET "DOUT1B_B" LOC = "V19";
NET "TRIGEXT_A" LOC = "AA19";
NET "ENDREADOUT2_B" LOC = "AB20";
NET "ENDREADOUT1_B" LOC = "V17";
NET "TRANSMITON2B_B" LOC = "W17";
NET "DOUT1B_A" LOC = "AA18";
NET "TRANSMITON1B_A" LOC = "AB18";
NET "SR_RSTB_B" LOC = "U17";
NET "RESET_B" LOC = "U18";
NET "OUT_TRIG0B" LOC = "R14";
NET "SR_IN_C" LOC = "R18";
NET "DOUT2B_C" LOC = "N17";
NET "DTCC_CLK2OUT" LOC = "T1";
NET "DTCC_CLK1OUT" LOC = "U1";
NET "PLUG2_CC1" LOC = "U2";
NET "PLUG2_CC2" LOC = "V2";
NET "PLUG1DATAOUT2" LOC = "R2";
NET "PLUG1_CC2" LOC = "W2";
NET "ELINKDATAOUT" LOC = "Y2";
NET "PLUG1_CC1" LOC = "W1";
NET "ELINKDATAIN" LOC = "Y1";
NET "EXT_TRIG_IN" LOC = "V3";
NET "LED<7>" LOC = "AB1";
NET "OTR" LOC = "AB3";
NET "LED<6>" LOC = "AB2";
NET "LED<5>" LOC = "AA3";
NET "ADC_DATA<10>" LOC = "AA5";
NET "ADC_DATA<9>" LOC = "AB5";
NET "LED<4>" LOC = "Y4";
NET "ADC_DATA<11>" LOC = "AA4";
NET "ELINKCLKIN" LOC = "V4";
NET "EXT_CLK_IN" LOC = "W4";
NET "DTCC_CLK2IN" LOC = "R4";
NET "DTCC_CLK1IN" LOC = "T4";
NET "LED<2>" LOC = "W6";
NET "LED<3>" LOC = "W5";
NET "LED<1>" LOC = "Y6";
NET "ADC_DATA<8>" LOC = "AA6";
NET "LED<0>" LOC = "W7";
NET "ADC_DATA<6>" LOC = "AB7";
NET "ADC_DATA<7>" LOC = "AB6";
NET "ADC_DATA<5>" LOC = "AA8";
NET "ADC_DATA<4>" LOC = "AB8";
NET "TP<3>" LOC = "Y8";
NET "EXT_TRIG_OUT" LOC = "Y7";
NET "TP<2>" LOC = "W9";
NET "TP<1>" LOC = "Y9";
